
/* Colors:

Text: 1A1A1A
Green: #00B172
White: #FFF */

#image-container {

  background-image: url('../images/landing.jpg');
  background-size:cover;
  background-position: center;
  width:100%;
  height: 100vh;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content:center;
  text-align: center;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}

.logo {
  height: 40px;
  cursor: pointer;
}

.logo img {
  height: 100%;
  width: auto;
}

.links {
  list-style-type: none;
  display: flex;
  gap: 20px;
}
