/* Colors:
Text: #1A1A1A
Green: #00B172
White: #FFF
*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
#image-container {
  background-image: url('../images/landing.jpg');
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 450px;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 0;
}


.navbar {
  position: fixed;          
  top: 0;
  left: 0;
  width: 100%;             
  height: 60px;
  background-color: #fff; 
  display: flex;
  justify-content: space-between;
  align-items: center;

}

.logo {
  height: 40px;
  cursor: pointer;
}

.logo img {
  height: 100%;
  width: auto;
}

.links {
  list-style: none;
  display: flex;
  gap: 20px;
  margin: 0;
  padding: 0;
}

.links li a {
  text-decoration: none;
  color: #1A1A1A;
  font-weight: bold;
  padding: 1rem;
}

.content-container{
    display: flex;
    justify-content: space-between;
    gap: 1rem;

}

.content-container h3{
    color: green;
}

.block{
display: flex;
flex-direction: column;
align-items: center;
text-align: center;
flex: 1;

}

.block-text{
    display: flex;
    align-items: center;
}

.content-container img{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    width: 30%;

}
